<launch>
    <env name="QT_AUTO_SCREEN_SCALE_FACTOR" value="1"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robotis_gripper_description)/urdf/test_gripper.urdf.xacro'" />
    <node name="robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher"/>
    <node name="joint_state_publisher" type="joint_state_publisher_gui" pkg="joint_state_publisher_gui"/>

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense2_description)/rviz/urdf.rviz" required="true" /> -->
</launch>
